.extension-card {
    min-height: 9rem;
    background-color: var(--extension-card-bg);
}

.extension-card-spacer {
    flex: 1;
}

.extension-card-footer {
    background: unset;
}

.extension-card-body:hover {
    text-decoration: none;
}
.extension-card-body:hover .extension-card-body-title,
.extension-card-body:focus .extension-card-body-title {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.extension-card .btn-link {
    text-decoration: none !important;
}
